# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Uploads (if using local storage)
uploads/

# Testing
coverage/
.nyc_output/
*.pem
LightsailDefaultKey-ap-south-1.pem